<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>
        window.onload = function(){
                            document.getElementById('outputWindow').click();
                        }
    </script>
    <title>Submission Page</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">ONLINE JUDGE</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse align-items-right mx-2" id="navbarScroll">
            <div class="d-flex">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/online_judge/home">Home</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="profile">{{ user.username }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/online_judge/logout">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/online_judge/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/online_judge/signup">Signup</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid ">
        <div class="row my-3 ">
            <div class="col-4 bg-light " style="overflow: scroll;height:600px ">
                <div class="card " style="border: None; ">
                    <div class="card-body ">
                        <h5 class="card-title "><strong>{{ problem.title }}</strong></h5>
                        <div class="row">
                            <div class="col-6">
                                <h6 class="card-subtitle mb-2 text-muted " style="display: inline;">Difficulty : {{ problem.difficulty }}</h6>
                            </div>
                            <div class="col-6">
                                <h6 class="card-subtitle mb-2 text-muted " style="display: inline;">Submissions : 10k</h6>
                            </div>
                        </div>
                        <br class="">
                        <h6 class="card-subtitle mb-2 text-muted ">Points : {{ problem.score }}</h6>
                    </div>
                </div>
                <div class="container-fluid bg-light ">
                    <p class=" "><strong>Description:</strong></p>
                    <p class=" ">{{ problem.description }}</p>
                </div>
                {% for testcase in problem.testcase_set.all %}
                <div class="card " style="border: None; ">
                    <div class="card-body ">
                        <h5 class="card-title ">Testcase</h5>
                        <h6 class="card-subtitle mb-2 ">Input:</h6>
                        <h6 class="card-subtitle mb-2 text-muted ">{{ testcase.input }}</h6>
                        <h6 class="card-subtitle mb-2">Output:</h6>
                        <h6 class="card-subtitle mb-2 text-muted ">{{ testcase.output }}</h6>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col-8 ">
                <div class="container-fluid bg-light ">
                    <h3 class="text-center mb-4 opacity-h ">CODE</h3>
                    <div class="row ">
                        <div class="col-lg-7 ">
                            Language
                            <select name="language " id="id_language ">
                              <option value=" ">---------</option>
                              <option value="54 " selected>GNU G++17 7.3.0</option>

                              <option value="59 ">Microsoft Visual C++ 2017</option>

                              <option value="61 ">GNU G++17 9.2.0 (64 bit, msys 2)</option>
                        </select>
                        </div>
                    </div>
                    <div class="form-outline my-4">
                        <form role="form" enctype="multipart/form-data" method="post">
                            {% csrf_token %}
                            <textarea name="code" class="form-control " rows="15">{{ code_text }}</textarea>
                            <button class="btn btn-success btn-md my-2 " type="submit ">Submit</button>
                            {% if compiled %}
                            <button id="outputWindow" class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
                                    data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Output Window</button>
                            <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
                              <div class="offcanvas-header">
                                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                              </div>
                              <div class="offcanvas-body">
                                <div class="card">
                                        <div class="card-body ">
                                            {% if return_code == 1 %}
                                                <h5 class="card-title" style="color : red;"><strong>Compilation Error</strong></h5>
                                            {% else %}
                                                <h5 class="card-title" style="color : green;"><strong>Compiled Successfully</strong></h5>
                                                <br>
                                                 {% if verdict %}
                                                    <h5 class="card-subtitle" style="color : green;">Accepted</h5>
                                                 {% else %}
                                                    <h5 class="card-subtitle" style="color : red;">Wrong Answer</h5>
                                                 {% endif %}
                                            {% endif %}
                                            <br>
                                            <h6 class="card-subtitle mb-2 ">Input:</h6>
                                            {% for i in input_text %}
                                            <h6 class="card-subtitle mb-2 text-muted ">{{ i }}</h6>
                                            {% endfor %}
                                            <br>
                                            <h6 class="card-subtitle mb-2">Expected Output:</h6>
                                            <h6 class="card-subtitle mb-2 text-muted ">{{ expected_output }}</h6>
                                            <br>
                                            <h6 class="card-subtitle mb-2">Your Output:</h6>
                                            {% if return_code == 1 %}
                                                <h6 class="card-subtitle mb-2 text-muted ">{{ error_message }}</h6>
                                            {% else %}
                                                <h6 class="card-subtitle mb-2 text-muted ">{{ your_output }}</h6>
                                            {% endif %}
                                        </div>
                                    </div>
                              </div>
                            </div>
                        {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>